@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

$White: hsl(0, 0%, 100%);
$Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
$Desaturated_Dark_Blue: hsl(214, 17%, 51%);
$Grayish_Blue: hsl(212, 23%, 69%);
$Light_Grayish_Blue: hsl(210, 46%, 95%);
$btn_blended_gray:hsl(210, 12%, 60%);

// font-family: 'Manrope', sans-serif;